
.btn-primary, .btn-primary:active, .btn-primary:visited {
	color: #FFFFFF !important;;
	background-color: #4C3524 !important;
	border-color: #000000 !important;
}

.btn-primary:hover{
	color: #FFFFFF !important;;
	background-color: #895f43 !important;
	border-color: #000000 !important;
}






